.body{
    background-color: #6C757D;
    overflow-x: hidden;
}
.button{
    height:80px;
    justify-content:center;
    margin-left:30%;
    color:white;
}
.button1:hover{
    background-color: #af2aa4;
    
}
.button2:hover{
    background-color: #2aaf56;
    
}
.button3:hover{
    background-color: #af5b2a;
    
}
 
.block{
    display:flex;
    height:80px;
    justify-content:flex-start;
    margin-left:50%;
}
