/*img{
    all:revert;
}*/
/*.img
{
   
    margin:0% 5%;
    width:25%;
    height:25%;
}
.logo{
    
    border:none;
    /*background-color:rgb(201, 204, 207);*/
/*}*/
.body{
    background-color: white;
}

